body{
    font-family: 'Roboto', sans-serif;
    margin: 0;

}
.header{
    background: #326155;
    padding: 35px 0;
    text-align: center;
    
}
.header h1{
    color: #FFF;

font-size: 48px;

font-weight: 700;



}
.blog{
    margin: 50px 0;
}
.post{
    width: 583px;
    
    background: #D7F2EC;
    margin: 0 auto;
    padding: 42px;
    box-sizing: border-box;
}
.post a{
    color: #FFF;

font-size: 20px;
background: #326155;
display: block;
font-weight: 700;
text-align: center;
padding: 12px;
text-decoration: none;

}
.post h2{
    color: #326155;

font-size: 36px;

font-weight: 700;
}
footer{
  
color: #FFF;
background: #326155;
text-align: center;
padding: 12px;
box-sizing: border-box;

}